<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.internous.team2402.model.mapper.TblCartMapper">

	<select id="findByUserId" resultType="jp.co.internous.team2402.model.domain.dto.CartDto">
		 SELECT
			 tbl_cart.id,
			 mst_product.image_full_path,
			 mst_product.product_name,
			 mst_product.price,
			 tbl_cart.product_count,
			 tbl_cart.updated_at,
			 tbl_cart.created_at,
			 (tbl_cart.product_count * mst_product.price) AS subtotal
		 FROM
		   tbl_cart
		 JOIN
       mst_product
		 ON
		   tbl_cart.product_id = mst_product.id
		 WHERE
		   user_id = #{userId}
		 ORDER BY
		   tbl_cart.updated_at DESC, tbl_cart.created_at DESC;
	</select>
	
	<delete id="deleteById">
	   DELETE FROM tbl_cart
	 <where>
	   id IN
	   <foreach collection="checkedIds" item="checkedId" open="(" close=");" separator=",">
	     #{checkedId}
	   </foreach>
	 </where>
	</delete>
	
</mapper>